<section>
    <div class="install">
        <div class="title">
            <h1>It's as easy as <span>installed</span></h1>
            <p>Say hello to the Store. A home for Extensions published by our community of <br>
                Developers using our API. Find extensions to the tools you use in your day-to-day.</p>
        </div>
    </div>
    <div class="rose">

        <div class="content">
            <button id="up"><img src="../../../assets/images/arrowup.svg" alt="up"></button>
            <h2>One up your productivity</h2>
            <p>On top of the core Raycast Extensions already built in,
                you can install Extensions built by Developers from the
                community. Everything you've asked for, in one place.
                Search and browse Extensions for your tools, actions
                and more.</p>
            <button id="extends">Browse Extensions</button>
        </div>
            

        <div class="store">
            <div class="head">
                <input type="search" placeholder="Search Store for Extensions">
                <div class="select">
                    <img src="../../../assets/images/glob.svg" alt="global">
                    <h3>Public</h3>
                    <img id="arrow" src="../../../assets/images/arrow.svg" alt="arrow">
                </div>
            </div>

            <div class="list">
                <div class="item">
                    <img src="../../../assets/images/galery.png" alt="">
                    <div class="title">
                        <h3>Image Modification</h3>
                        <p>Apply filters and transformations to various image formats, and convert betwee…</p>
                    </div>
                </div>

                <div class="item">
                    <img src="../../../assets/images/chat.png" alt="">
                    <div class="title">
                        <h3>Image Modification</h3>
                        <p>Apply filters and transformations to various image formats, and convert betwee…</p>
                    </div>
                </div>

                <div class="item">
                    <img src="../../../assets/images/gif.png" alt="">
                    <div class="title">
                        <h3>Image Modification</h3>
                        <p>Apply filters and transformations to various image formats, and convert betwee…</p>
                    </div>
                </div>

                <div class="item">
                    <img src="../../../assets/images/gpt.png" alt="">
                    <div class="title">
                        <h3>Image Modification</h3>
                        <p>Apply filters and transformations to various image formats, and convert betwee…</p>
                    </div>
                </div>

                <div class="item">
                    <img src="../../../assets/images/translate.png" alt="">
                    <div class="title">
                        <h3>Image Modification</h3>
                        <p>Apply filters and transformations to various image formats, and convert betwee…</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <main class="main-box">
        <div class="box1">
            <span><i class='bx bxs-zap'></i></span>
            <div class="text">
            <h3>Lightweight and snappy</h3>
            <p>Designed to be seamless and instant.
                View an Extension and hit install it in milliseconds.</p>
            </div>
                <img src="../../../assets/images/todolist.png" alt="">
        </div>

        <div class="box">
            <span><i class='bx bx-cog'></i></span>
            <div class="text">
            <h3>Lightweight and snappy</h3>
            <p>Control Spotify or Apple Music with a hit of a button. Search through Figma,
                Notion, and Xcode. Check your internet speed and the weather without
                needing the browser, or even play a game of Snake.</p>
            </div>
                <img id="iconslist" src="../../../assets/images/icons.png" alt="">
        </div>
    </main>

    <a id="explore" href="#">Explore the store <i class='bx bx-right-arrow-alt'></i></a>
</section>