header{
    width: 100%;
    display: flex;
    background-color: transparent;
}

.links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 40px 100px 30px 100px;
}

.links img{
    width: 109px;
}

.links-nav{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

ul li, a{
    list-style: none;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
}

ul li, a:hover{
    color: aliceblue;
}

.login-link{
    display: flex;
    gap: 50px;
}
