<header>
    <div class="links">
        <img src="../../../assets/images/logo.svg" alt="logoType">


            <ul class="links-nav">
                <li><a href="#">Store</a></li>
                <li><a href="#">Developer</a></li>
                <li><a href="#">Teams</a></li>
                <li><a href="#">Pro <span>New</span></a></li>
                <li><a href="#">Changelog</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Blog</a></li>
            </ul>

            <div class="login">
                <ul class="login-link">
                    <li><a href="#">Log in</a></li>
                    <li><a href="#">Download</a></li>
                </ul>
            </div>

    </div>
</header>